
	<script src="js/indexmiau.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	
	<div class="divPrincipal">
		<div class="labuta">
			<a href="/"><img id="paw" src="{{paw}}"/></a>
		</div>
		<h1 class="title">Paw Shop</h1>		
		<div *ngIf="isLoggedIn" class="contCos">
			<div class="dropdown">
  				<button (click)="switchDropdown($event)" class="dropButton">Contul Meu</button>
  				<div *ngIf="isDropdownOpen" id="myDropdown" class="dropdown-content">
					<a (click)="logout($event)" >Logout</a>
				  </div><br>
			</div>
			<div class="dropdown2">
  				<button onclick="myFunction2()" class="dropButton2">Cos</button>
  				<div id="myDropdown2" class="dropdown-content2">
    				<a href="#">Detalii cos</a>
  				</div>
			</div>
		</div>
	</div>
	<div class="navBar">
		<ul class="ul">
 		 <li><a routerLink="/products" routerLinkActive="activeLink">PRODUSE</a></li>
		  <li><a routerLink="/cats" routerLinkActive="activeLink">PISICI</a></li>
		  <li><a routerLink="/adoption" routerLinkActive="activeLink">PISICI PENTRU ADOPȚIE</a></li>
		</ul>
	</div>
	

	
<router-outlet></router-outlet>
<!--asta schimba paginile-->

