
<!--	<script src="js/indexmiau.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	
	DIV PRINCIPAL
	<div class="divPrincipal">
		<div class="labuta">
			<img id="paw" src="poze/paw.png">  F1L06Min.05
			<img id="paw" src="{{paw}}"/>
		</div>
		<h1 class="title">Paw Shop</h1>		
		<div class="contCos">
			<div class="dropdown">
  				<button onclick="myFunction()" class="dropButton">Contul Meu</button>
  				<div id="myDropdown" class="dropdown-content">
    				<a href="inregistrare.html">Inregistrare</a>
    				<a href="login.html">Log in</a>
  				</div><br>
			</div>
			<div class="dropdown2">
  				<button onclick="myFunction2()" class="dropButton2">Cos</button>
  				<div id="myDropdown2" class="dropdown-content2">
    				<a href="#">Detalii cos</a>
  				</div>
			</div>
		</div>
	</div>
	<AL DOILEA DIV
	<div class="navBar">
		<ul class="ul">
 		 <li><a href="produse.html">PRODUSE</a></li>
		  <li><a href="pisici.html">PISICI</a></li>
		  <li><a href="adoption.html">PISICI PENTRU ADOPȚIE</a></li>
		</ul>
	</div>-->
	<h1>Test for CatsShop</h1>
	<cats-list></cats-list>
	<catslist-detail></catslist-detail>
	

<router-outlet></router-outlet>
<!--Routed views go here-->

