<section class="shop">
   <div class="shopProducts">
      <div class="products">
         <div class="item" *ngFor="let things of stuffForCats">
            <article class="product">
               <h1 class="name">{{things.name}}</h1>
               <img (click)="showDetails(things)" src={{things.image.url}} alt="cover" class="productImage">
               
               <p class="productPrice">Preț: <span class="productPrice2"> {{things.price}} {{things.currency}}</span></p>
               <p class="productTitle">
                  <button class="addProduct" (click)="addToCart(things)">Adaugă</button> 
               </p>
            </article>
         </div>
      </div>
   </div>
</section>